name: Deploy to Cloudflare Workers

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test -- --coverage

      - name: Build
        run: npm run build

      - name: Publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  deploy-dev:
    name: Deploy to Dev
    needs: build
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Deploy Dev
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.API_TOKEN }}
          accountId: ${{ secrets.ACCOUNT_ID }}
          command: deploy dist/practice4/index.js --name practica5-dev --compatibility-date 2026-02-26 --compatibility-flags=nodejs_compat --assets dist/client

  deploy-prod:
    name: Deploy to Production
    needs: deploy-dev
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Install Wrangler
        run: npm install -g wrangler@4.69.0

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Deploy Production
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.ACCOUNT_ID }}
          command: deploy dist/practice4/index.js --name practica5-prod --compatibility-date 2026-02-26 --compatibility-flags=nodejs_compat --assets dist/client


          